$pale-blue: hsl(243, 100%, 93%);
$grayish-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$very-dark-blue: hsl(229, 57%, 11%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
  background-image: url('./images/bg-desktop.png');
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: center bottom;
  background-color: $very-dark-blue;
  padding: 1rem;

  @media screen and (max-width: 375px) {
    background-image: url('./images/bg-mobile.png');
    background-size: 100% 100%;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 2rem;
    width: 900px;

    #uploader {
      flex-grow: 1;
      flex-basis: 300px;
      background-color: $dark-blue;
      padding: 2rem;
      border-radius: 8px;
      border-top-right-radius: 100px;

      #brand {
        margin-bottom: 2rem;
      }

      #controls {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;

        button {
          background-color: $very-dark-blue;
          border: none;
          outline: none;
          padding: 1em;
          width: 50px;
          height: 50px;
          border-radius: 8px;
          cursor: pointer;
        }
      }
    }

    #usage {
      flex-grow: 1;
      flex-basis: 500px;
      background-color: $dark-blue;
      border-radius: 8px;
      padding: 2rem;
      color: white;

      display: flex;
      flex-direction: column;
      justify-content: center;

      .usage-body {
        position: relative;

        .tootip {
          background-color: white;
          position: absolute;
          right: 0px;
          top: -80%;
          color: black;
          padding: 1rem;
          border-radius: 8px;
          border-bottom-right-radius: 0;

          &::after {
            content: '';
            border-style: solid;
            border-width: 10px;
            border-color: white white transparent transparent;
            position: absolute;
            top: 100%;
            right: 0;

            @media screen and (max-width: 375px) {
              display: none;
            }
          }

          @media screen and (max-width: 375px) {
            top: 100%;
            transform: translateX(-50%);
            border-bottom-right-radius: 8px;
          }
        }

        .progressbar {
          margin-top: 10px;
          .track {
            border-radius: 1e9px;
            background-color: $very-dark-blue;
            padding: 4px;

            .fill {
              border-radius: inherit;
              background: linear-gradient(
                to right,
                hsl(6, 100%, 80%),
                hsl(335, 100%, 65%)
              );
              display: flex;
              flex-direction: row-reverse;
              width: min(100%, max(calc(14px + 4px), 81.5%));
              padding: inherit;

              .head {
                width: 5px;
                height: 5px;
                border-radius: inherit;
                background-color: white;
              }
            }
          }

          .info {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
